#create-task-modal {

    .MuiInput-underline:after {
        border-bottom: 2px solid black;
    }

    .full-width {
        width: 100%;
        .MuiFormControl-root {
            min-width: 100%;
        }
    }
}